.category-image{
    width: 170px;
    height: 170px;
    border: 1px solid  #f48fb1;
    margin: 10px;
}

.display-category{
    display: inline-block;
    margin: auto;
}

.text {
    color: #243665;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-category:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.container-category{
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #8bd8bd;
}
/*
.DisplayCathegory{
    display:-webkit-inline-flex;
    flex-direction: row;
}

img{
    width: 130px;
    height: 130px;
    shape-outside: circle();
    border-radius: 200px;
}
button{
    shape-outside: circle();
    border-radius: 200px;
}*/
