.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 0.5px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;


}
.active-pink-3 input[type="text"] {
  border: 0.5px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;

}

.search-display{
padding-button: 8px;
}

button {
  border:  #f48fb1 !important;
  color: white;
  box-shadow:  #f48fb1 !important;
  background-color: #f48fb1 !important;

}

