.links-display{
    display: inline-block;
    width: 33%;
}

.ul-links{
    list-style-type: none;
    color: #8bd8bd !important;
    font-size: 1em;
}

.li-item:hover{
    color: #028695;
    cursor: pointer;
}

.active-pink-btn{
    background: #f48fb1;
}

.btn-text{
    color: #243665;
    cursor: pointer;
     color: #8bd8bd!important;
}

.btn-footer-link{
    text-align: center;
}

